@import "./dataListFieldItem/dataListFieldItem.module.scss";

.cards__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 14px);
    grid-gap: 5px;
    &-header {
        display: flex;
        align-items: center;
        justify-content: center;
        h3 {
            color: #171730;
            font-weight: 500;
        }
    }
}
