.descriptionList {
    display: grid;
    grid-column: 100%;
    grid-template-rows: min-content;
    grid-gap: 5px;
    .title {
        text-align: center;
        font-weight: 500;
        font-size: 1.2rem;
        color: #171730;
    }
}
