.image-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    p {
        font-size: 1.2rem;
        color: #000;
    }
    img {
        max-width: 100%;
    }
}
