@import "./forecastList/forecastList.module.scss";
@import "./forecastHeader/ForecastHeader.module.scss";

.content-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 90vh;
}
