.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .image {
        max-width: 50px;
    }
    .text {
        font-size: 1.2rem;
        font-weight: 500;
    }
}
